/*font-css*/
body
{
    font-family: '微软雅黑','Georgia',Serif;
    font-size: 14px;
    background-color: #fff;
    height: 100%;
}

/*container-css*/
.container
{
    width: 100%;
    height: 1000px;

    border-top: 1px solid transparent;
    background: #fefefe; /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#83d1e5)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #fefefe, #83d1e5); /* for firefox 3.6+ */
    background:   -o-linear-gradient(#fefefe, #83d1e5); /* Opera 11.1 - 12.0 */
    background:      linear-gradient(#fefefe, #83d1e5); /* 标准的语法 */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#83D1E5'); /* for IE */
}
.form-wraper
{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-top: 200px;
}
.form-title h1
{
    font-size: 38px;
    font-weight: bold;

    margin-bottom: 38px;

    text-align: center;

    color: #c2c4c3;
}

.form
{
    width: 390px;
    height: 300px;
    padding-top: 50px;

    text-align: center;

    border: 5px solid #f0f4f5;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 15px;
}
.form label
{
    display: block;

    text-align: center;
}
.account,
.password
{
    display: inline-block;

    width: 200px;
    height: 40px;
    height: 40px;
    margin-top: 35px;
    padding-left: 40px;

    border: 2px solid #fff;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background-color: transparent;
}
.account
{
    background: url(../images/icon/account.png) left center no-repeat;
}
.password
{
    background: url(../images/icon/password.png) left center no-repeat;
}
.accont-icon
{
    display: inline-block;

    width: 15px;
    height: 20px;

    background: url(../images/icon/login.fw.png)0 0 no-repeat;
}
.password-icon
{
    display: inline-block;

    width: 15px;
    height: 20px;

    background: url(../images/icon/login.fw.png)0 20 no-repeat;
}
.login-btn
{
    display: block;

    width: 80px;
    height: 30px;
    margin: 35px auto;

    color: #fff;
    border: 2px solid #fff;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background-color: transparent;
}
.login-btn:active
{
    color: #000;
    border: 2px solid #fff;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background-color: #83d1e5;
}

/*页尾-css*/
.footer
{
    margin-top: 150px;

    text-align: center;

    color: #fff;
}

/*模态框*/

.show-model-active
{
    position: fixed;
    z-index: 1000000;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .5);
}
.model-content
{
    position: fixed;
    top: -400px;

    background-color: #fff;
}

.show-model-active .model-content
{
    top: 250px;

    width: 400px;
    height: 200px;

    -webkit-transition: all ease-in-out .3s;
       -moz-transition: all ease-in-out .3s;
         -o-transition: all ease-in-out .3s;
            transition: all ease-in-out .3s;
}
.show-model-active .model-content
{
    position: relative;

    overflow: hidden;

    margin: 0 auto;

    -webkit-transform: scale(1.1,1.1); /* Safari 和 Chrome */
       -moz-transform: scale(1.1,1.1); 	/* Firefox */
        -ms-transform: scale(1.1,1.1); 	/* IE 9 */
         -o-transform: scale(1.1,1.1); 	/* Opera */
            transform: scale(1.1,1.1);

    -webkit-border-radius: 15px ;
       -moz-border-radius: 15px;
            border-radius: 15px;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 10px #909090;/*兼容safari或chrome*/
       -moz-box-shadow: 2px 2px 10px #909090;/*兼容firefox*/
            box-shadow: 2px 2px 10px #909090;/*兼容opera或ie9*/

    filter: progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);/*兼容ie*/
}
.delete-btn
{
    display: none;
}
.show-model-active .delete-btn
{
    font-size: 10px;

    position: absolute;
    top: 5px;
    right: 15px;

    display: inline-block;

    width: 30px;
    height: 20px;

    cursor: pointer;
}



/*模态框添加内容*/
.show-model-active .model-content-details
{
    text-align: center;
}
.show-model-active .login-result
{
    margin-top: 50px;
}
.show-model-active .confirm-btn
{
    display: inline-block;

    width: 50px;
    height: 20px;
    margin-top: 30px;

    border: none;
    -webkit-border-radius: 5px ;
       -moz-border-radius: 5px;
            border-radius: 5px;
}
