body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none; } 
a:hover { text-decoration:underline; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; }
body {
    min-width: 1080px;
}

/*common-style*/
.fl {float: left;}
.fr {float: right;}
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
.header
{
    height: 130px;

    background-image: url(../images/3.png), url(../images/headerBgc.jpg);
    background-repeat: repeat-x,repeat;
    background-position: left bottom, left center;
}
.header .common-width
{
    position: relative;
}
.website-title
{
	margin-top:0px;
	
    font-size: 50px;

    padding-top: 30px;

    text-align: center;

    color: #616161;
}
.header-sideBar
{
    position: absolute;
    top: 50px;
    right: 0;

    padding-right: 50px;
}
