.account{ background:url("account.png") top left no-repeat; }
._1_r2_c2{ width:34px; height:44px; background-position:-10px -10px; }
._1_r2_c2_1{ width:17px; height:24px; background-position:-10px -64px; }

