/*font-css*/
body {font-size: 14px;font-family: '微软雅黑','Georgia',Serif;height:100%;}

/*container-css*/
.container {
	width: 100%;
	height: 1000px;
	border-top: 1px solid transparent;
	  background: -webkit-linear-gradient(#FEFEFE, #83D1E5); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#FEFEFE, #83D1E5); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#FEFEFE, #83D1E5); /* Firefox 3.6 - 15 */
  background: linear-gradient(#FEFEFE, #83D1E5); /* 标准的语法 */
}
.form-wraper {
	width: 400px;
	height: 400px;
	margin: 0 auto;
	margin-top: 200px;

	
	
}
.form-title h1 {
	text-align: center;
	font-size: 38px;
	font-weight: bold;
	color: #C2C4C3;
	margin-bottom: 38px;
}

.form {
	width: 390px;
	border: 5px solid #F0F4F5;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius:15px;

	height: 300px;
	padding-top: 50px;
	text-align: center;
	
}
.form label {
	display: block;
	text-align: center;
	
} 
.account,.password {
	display: inline-block;
	width: 200px;
	height: 40px;
	border: 2px solid #FFFFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius:5px;
	height: 40px;
	padding-left: 40px;
	background-color: transparent;
	margin-top: 35px;
	
}
.account {
	
	background: url(../images/icon/account.png) left center no-repeat;
}
.password {
	
	background: url(../images/icon/password.png) left center no-repeat;
}
.accont-icon {
	display: inline-block;
	width: 15px;
	height: 20px;
	background: url(../images/icon/login.fw.png)0 0 no-repeat;
}
.password-icon {
	display: inline-block;
	width: 15px;
	height: 20px;
	background: url(../images/icon/login.fw.png)0 20 no-repeat;
}
.login-btn {
	display: block;
	margin: 35px auto;
	width: 80px;
	height: 30px;
	border: 2px solid #FFFFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius:5px;
	background-color: transparent;
	color: #ffffff;
}
.login-btn:active {
	border: 2px solid #FFFFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius:5px;
	background-color: #83D1E5;
	color: #000000;
}

/*页尾-css*/
.footer {
	margin-top: 150px;
	text-align: center;
	color: #ffffff;
}




/*模态框*/

.show-model-active {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000000;
}
.model-content {
	position: fixed;
	top: -400px;
	background-color: #fff;
}
.show-model-active .model-content {
	top: 250px;
	width: 400px;
	height: 200px;
	-webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}
.show-model-active .model-content {
	overflow: hidden;
	position: relative;
	background-color: #fff;
	margin: 0 auto;
	-webkit-border-radius: 15px ;
    -moz-border-radius: 15px;
    border-radius: 15px;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);/*兼容ie*/
	-moz-box-shadow: 2px 2px 10px #909090;/*兼容firefox*/
	-webkit-box-shadow: 2px 2px 10px #909090;/*兼容safari或chrome*/
	box-shadow:2px 2px 10px #909090;/*兼容opera或ie9*/
	transform:scale(1.1,1.1);
	-ms-transform:scale(1.1,1.1); 	/* IE 9 */
	-moz-transform:scale(1.1,1.1); 	/* Firefox */
	-webkit-transform:scale(1.1,1.1); /* Safari 和 Chrome */
	-o-transform:scale(1.1,1.1); 	/* Opera */
}
.delete-btn {
	display: none;
}
.show-model-active .delete-btn {
	display: inline-block;
	cursor: pointer;
	font-size: 10px;
	position: absolute;
	top: 5px;
	right: 15px;
	width: 30px;
	height: 20px;
}



/*模态框添加内容*/
.show-model-active .model-content-details {
	text-align: center;
}
.show-model-active .login-result {
	margin-top: 50px;
}
.show-model-active .confirm-btn {
	display: inline-block;
	width: 50px;
	height: 20px;
	border: none;
	margin-top: 30px;
	-webkit-border-radius: 5px ;
    -moz-border-radius: 5px;
    border-radius: 5px;
}