<#include '../header/common.html'/>
<div class="my-tab-item">
	<iframe id="stuComment" style="width: 100%;" frameborder="no" border="0" marginwidth="0" marginheight="0" allowtransparency="yes"></iframe>
	<!-- <section class="comment-box">
		<#if Session.user?exists && Session.user.role=='student'>
		<section class="question-box">
			<div class="input-box">
				<span class="questioner"><i class="fa fa-user-circle-o fa-3x"></i></span>
				<form class="input-form">
					<textarea maxlength="300" id="commentContent" name="commentContent"
						placeholder="提问"></textarea>
					<input type="hidden" name="kpId" value="${kpId}">
					<button class="release-btn" onclick="return false;">提交</button>
				</form>
				<script type="text/javascript">
					$(".release-btn")
							.on(
									'click',
									function() {
										var data = $(".input-form").serialize();
										$.post(
														'${contextPath}/comments.do',
														data,
														function(res) {
															var html = '<article class="comment-item">'
																	+ '<span class="questioner"> <i class="fa fa-user-circle-o fa-3x"></i>'
																	+ '</span>'
																	+ '<div class="comment">'
																	+ '<h3 class="user-name">${Session.user.userAccount} ${Session.user.userName}</h3>'
																	+ '<p class="coment-text">'
																	+ $(
																			"#commentContent")
																			.val()
																	+ '</p>'
																	+ '<div class="comment-time">'
																	+ '&nbsp&nbsp&nbsp&nbsp时间:'
																	+ '<time>刚刚</time>'
																	+ '</div>"';
															alert("已提交问题");
															$(".input-form")[0]
																	.reset();
															prependComment(html);
														});
									});
				</script>
			</div>
		</section>
		
		</#if>
		<section class="comment-wraper" id="commentwrapper">
			<#list comments.list as comment>
			<article class="comment-item">
				<span class="questioner"> <i
					class="fa fa-user-circle-o fa-3x"></i>
				</span>
				<div class="comment">
					<h3 class="user-name">${comment.userName}</h3>
					<p class="coment-text">${comment.commentContent}</p>
					<div class="comment-time">
						<#if comment.responses?size gt 0> <span
							class="check-response">查看回答<i class="fa fa-caret-down"></i></span>
						</#if>
						&nbsp&nbsp&nbsp&nbsp时间:
						<time>${comment.commentTime?number_to_datetime}</time>
					</div>
					<#if comment.responses??>
						<#list comment.responses as response>
						<div class="answer-box">
							<div class="responser">
								<i class="teacher-icon fa fa-user fa-2x"></i> <br> <span
									class="teacher-name">${response.userName!}</span>
							</div>
							<div class="response-box">
								<p>${response.commentContent}</p>
								<div class="response-time">
									时间:
									<time>${response.commentTime?number_to_datetime}</time>
								</div>
							</div>
						</div>
						</#list>
						</#if>
					</div>
			</article>
			</#list>
			
		</section>
		
	</section> -->
    <div id="stuCommentPage"></div>
</div>
<#if Session.user?exists && Session.user.role=='teacher'>

<div class="my-tab-item">
	<iframe id="tchComment" style="width: 100%;" frameborder="no" border="0" marginwidth="0" marginheight="0" allowtransparency="yes"></iframe>
	<!-- <section class="comment-wraper" id="comment_wraper">
		<#list comments.list as comment>
		<article class="comment-item">
			<span class="questioner"> <i class="fa fa-user-circle-o fa-3x"></i>
			</span>
			<div class="comment">
				<h3 class="user-name">${comment.userName}</h3>
				<p class="coment-text">${comment.commentContent}</p>
				<div class="comment-time">
					时间:
					<time>${comment.commentTime?number_to_datetime}</time>
					&nbsp&nbsp&nbsp&nbsp<span class="check-response">回复<i
						class="fa fa-caret-down"></i></span>
				</div>
				<#if comment.responses??>
						<#list comment.responses as response>
				<div class="reply-content">
					<div class="replyer-img-box">
						<i class="fa fa-user"></i> ${response.userName!}
					</div>
					<div class="reply-text">
						<p>${response.commentContent}</p>
						<p class="edit-time">
							时间：
							<time>${response.commentTime?number_to_datetime}</time>
						</p>
					</div>
				</div>
				</#list>
				</#if>
				<div class="answer-box reply-wraper">
					<form class="reply-form">
						<span class="replyer-name">${Session.user.userName}</span>
						<input name="kpId" value="${kpId}" type="hidden"/>
						<input name="parentId" value="${comment.commentId}" type="hidden"/>
						<textarea name="commentContent"></textarea>
					</form>
					<button class="reply-btn fr">回复</button>
				</div>
			</div>
		</article>
		</#list>
		
	</section>
	以下是学生评论代码****************************************** -->
	<div id="tchCommentPage"></div>
</div>

</#if>

<script src="${contextPath}/js/lessionHomePage.js"></script>
<script src="${contextPath}/js/learning.js"></script>

<script>
	function prependComment(html) {
		$("#commentwrapper").prepend(html);
	}
	
	layui.use('laypage', function(){
		  var laypage = layui.laypage;
		  var $ = layui.jquery;
		  var ifmStu= document.getElementById("stuComment");
		  ifmStu.height=document.documentElement.clientHeight;
		  
		  var ifmTch= document.getElementById("tchComment");
		  if(ifmTch){
			  ifmTch.height=document.documentElement.clientHeight;
		  }
		  
		  
		  laypage.render({
			  
			    elem: 'stuCommentPage' 
			    ,count: ${comments.total} //数据总数，从服务端得到
		  		,theme: '#1E9FFF'
		  		,layout: ['count', 'prev', 'page', 'next', 'skip']
		  	    ,jump: function(obj){
		  	      console.log(obj.curr);
		  	      $("#stuComment").attr("src","kp/${kpId}/comments-stu.html?page="+obj.curr); 
		  	    }
	      });
		  
		  laypage.render({
			  
			    elem: 'tchCommentPage' 
			    ,count: ${comments.total} //数据总数，从服务端得到
		  		,theme: '#1E9FFF'
		  		,layout: ['count', 'prev', 'page', 'next', 'skip']
		  	    ,jump: function(obj){
		  	      console.log(obj.curr);
		  	    $("#tchComment").attr("src","kp/${kpId}/comments-tch.html?page="+obj.curr); 
		  	    }
	      });
	});
	
	
	
</script>