<#include '../header/common.html'/>
<div class="my-tab-item">
	<iframe id="stuComment" style="width: 102%;" frameborder="no" border="0" marginwidth="0" marginheight="0" allowtransparency="yes"></iframe>
    <div id="stuCommentPage"></div>
</div>
<#if Session.user?exists && Session.user.role=='teacher'>

<div class="my-tab-item">
	<iframe id="tchComment" style="width: 102%;" frameborder="no" border="0" marginwidth="0" marginheight="0" allowtransparency="yes"></iframe>
	
	<div id="tchCommentPage"></div>
</div>

</#if>

<script src="${contextPath}/js/lessionHomePage.js"></script>
<script src="${contextPath}/js/learning.js"></script>

<script>
	function prependComment(html) {
		$("#commentwrapper").prepend(html);
	}
	
	layui.use('laypage', function(){
		  var laypage = layui.laypage;
		  var $ = layui.jquery;
		  var ifmStu= document.getElementById("stuComment");
		  ifmStu.height=document.documentElement.clientHeight;
		  
		  var ifmTch= document.getElementById("tchComment");
		  if(ifmTch){
			  ifmTch.height=document.documentElement.clientHeight;
		  }
		  
		  
		  laypage.render({
			  
			    elem: 'stuCommentPage' 
			    ,count: ${comments.total} //数据总数，从服务端得到
		  		,theme: '#1E9FFF'
		  		,layout: ['count', 'prev', 'page', 'next', 'skip']
		  	    ,jump: function(obj){
		  	      console.log(obj.curr);
		  	      $("#stuComment").attr("src","kp/${kpId}/comments-stu.html?page="+obj.curr); 
		  	    }
	      });
		  
		  laypage.render({
			  
			    elem: 'tchCommentPage' 
			    ,count: ${comments.total} //数据总数，从服务端得到
		  		,theme: '#1E9FFF'
		  		,layout: ['count', 'prev', 'page', 'next', 'skip']
		  	    ,jump: function(obj){
		  	      console.log(obj.curr);
		  	    $("#tchComment").attr("src","kp/${kpId}/comments-tch.html?page="+obj.curr); 
		  	    }
	      });
	});
	
	
	
</script>