<!DOCTYPE html>
<html lang="en">
<head>
<#include '../header/common.html'>
<meta charset="UTF-8">
<title>课程首页</title>
<link rel="shortcut icon" href="${contextPath}/images/logo(1).ico" />
<link rel="stylesheet" type="text/css" href="${contextPath}/css/reset.css">
<link rel="stylesheet" type="text/css"
	href="${contextPath}/css/knowledgePoint.css">
<link rel="stylesheet" type="text/css" href="${contextPath}/css/video.css">
</head>
<body>
	<#include "../header/header.html"/>
	<section class="pagination">
		<section class="common-width">
			<li><a href="courses/${courseId}.html">课程中心</a></li>
			<li><a href="#">知识点学习</a></li>
		</section>
	</section>
	<div class="container">
		<section class="common-width">
			<nav class="lession-nav">
				<li><a href="/courses/${courseId}">课程首页</a></li>
				<li><a href="#">课程教案</a></li>
				<li><a href="#" class="active">知识点学习</a></li>
				<li><a href="#">实例教学</a></li>
				<li><a href="#">测试中心</a></li>
				<li><a href="#">高级应用</a></li>
				<li><a href="#">学习答疑</a></li>
			</nav>
			<section class="knowledge-point-wraper">
				<header class="knowledge-point-header">
					<h3>知识点学习</h3>
				</header>
				<div class="list-wraper">
					<div class="knowledge-point-list">
						<#list chapters as chapter>
						<ul class="knowledge-point-item">

							<h3>
								<span class="order">${chapter_index?if_exists+1}</span>${chapter.chapterName}
							</h3>
							<#list chapter.knowledgePoints as kp>
							<li onclick="kp_detail(${kp.kpId})"><a href="#"
								style="color: white;">${kp.kpName}</a></li>

							</#list>
						</ul>
						</#list>

					</div>
					<div class="knowledge-point-controller">
						<span class="arrow-left"><</span><span class="location"></span><span
							class="arrow-right">></span>
					</div>
					<li class="arrow-left arrow-left-md">></li>
					<li class="arrow-right arrow-right-md">></li>
				</div>

			</section>
			<div id="kp_detail">
			<#if kpDetail?exists>
			<section class="learning-part clearfix">
				<div class="learning-sideBar fl">
					<div class="test-bar">
						<h3>检测项</h3>
						<p>学习次数<span>0</span>
						测试次数<span>1</span>
						成绩<span>92</span>
						</p>
					</div>
					<ul class="learning-source-bar">
						<h5 class="learning-source-header">学习资源</h5>
						<#list kpDetail.normalDatas as data>
						<li><span>${data_index?if_exists+1}</span><a href="${data.dataSrc}">${data.dataName}</a></li>
						</#list>
					</ul>
				</div>
				<div class="fr player-container">
				<#if kpDetail.videos??>
				<section class="player-wraper">
				
						<header class="player-header">
							<mark class="movie-name">${kpDetail.videos[0].vedioName}</mark>
						</header>
						<div class='pause-logo'>
							<img src="../../images/c161481664841f0e5247c95387534478.png">
						</div>
						<video id="video-player">
							<source src="${kpDetail.videos[0].vedioSrc}">
						</video>
						<footer class="controller">
							<span class="controller-btn" id="controller-btn"></span>
							<span class="current-time">0:0</span>
							<progress class="video-progress" value="0" max="100"></progress>
							<span class="duration">0</span>
							<span class="full-screen"></span>
							<span class="volume"><img src="../../images/46b71ce8861d3a8083996d77b2f48b88.png">
								<input type="range" step="10" class="volume-controller" name="" max="100">
							</span>
						</footer>
				</section>
				<#else>
				<section class="player-wraper"><h1>暂无视频</h1></section>
				</#if>
				</div>
			</section>
			<section class="learning-text">
				<article class="learning-content">
					<li class=" learning-option show-details">精讲
						<div class="learning-details learning-option">
						${kpDetail.knowledgePoint.kpDetail}
						</div>
					</li>
					<li  class="learning-option">学习建议
						<div class="learning-details">
						${kpDetail.knowledgePoint.kpAdvice}
						</div>
					</li>
					<li class="learning-option">阅读资料
						<div class="learning-details">
						${kpDetail.knowledgePoint.kpRead}
						</div>
					</li>
				</article>
				<p class="footer">@copyRight 2017NCTechnology All Right reserved</p>
			</section>
			</#if>
			</div>
		</section>
		
		</div>


	

	<!-- <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script> -->
	<script type="text/javascript" src="${contextPath}/script/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="${contextPath}/script/lessionHomePage.js"></script>
	<script type="text/javascript" src="${contextPath}/script/learning.js"></script>
	<script type="text/javascript" src="${contextPath}/script/video.js"></script>
	<script type="text/javascript">
		function kp_detail(kp_id) {
			$.get("${contextPath}/kp/" + kp_id, function(data) {
				$("#kp_detail").html(data);
				video_init();
				$('.learning-option').click(function() {
					$('.learning-option').removeClass('show-details');
					$(this).addClass('show-details');
				});
			});
		}
		
		$(function(){
			video_init();
		});
	</script>
</body>
</html>