<#include '../header/common.html'>
<section class="learning-part clearfix">
				<section class="video-list fl">
					<h3 class="video-list-title"><i class="fa fa-list"></i>视频列表</h3>
					<ul class="video-items">
					<#if videos??>
					<#list videos as video>
						<li class="<#if video_index==0>active</#if> one_tr" src="${video.vedioSrc}"><i class="fa fa-play-circle fa-lg"></i>${video.vedioName}</li>
					</#list>
					<#else>
					<li>暂无视频</li>
					</#if>
					</ul>
				</section>
				<section class="video_ls fr">
				 <video id="my-video" class="video-js" controls preload="auto" width="740" height="400"
						  poster="m.png" data-setup="{}">
				        <source src="<#if videos??>${videos[0].vedioSrc}<#else>${contextPath}/plugin/video/media/240.mp4</#if>" type="video/mp4">
				        <p class="vjs-no-js"></p>
				   </video>
	              
	               
	            </section>
			</section>
