<!DOCTYPE html>
<html lang="en">
<head>
	<#include '../header/common.html'>
	<meta charset="UTF-8">
	<title>知识点学习</title>
	<link rel="shortcut icon" href="${contextPath}/images/logo(1).ico" />
	<link rel="stylesheet" type="text/css" href="${contextPath}/css/reset.css">
	<link rel="stylesheet" type="text/css" href="${contextPath}/css/knowledgePoint.css">
	<link rel="stylesheet" type="text/css" href="${contextPath}/css/pagination.css">
	<link rel="stylesheet" type="text/css" href="${contextPath}/font/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="${contextPath}/css/video-js.css">
	<link rel="stylesheet" type="text/css" href="${contextPath}/js/layui/css/layui.css"/>
	<style>
		.mactive{
			background-color: #666;
		}
	</style>
</head>
<body>
	<#include '../header/header.html'>
	<section class="pagination">
		<section class="common-width">	
			<li><a href="${contextPath}/">课程中心</a></li>
			<li><a href="${contextPath}/courses-${courseId}.html">课程首页</a></li>
		</section>
	</section>
	<div class="container">
		<section class="common-width">
			<nav class="lession-nav">
				<li ><a href="${contextPath}/courses-${courseId}.html" >课程首页</a></li>
				<li><a href="#" class="active">知识点学习</a></li>
				<#if Session.user?exists && Session.user.role == 'teacher'>
				<li><a href="http://localhost:8080/edu-manager/token?token=${Session.user.token}&redirectUrl=/manager/course/${courseId}/token" target="_blank">课程教案</a></li>
				</#if>
				<li><a href="#">实例教学</a></li>
				<#if kpDetail??>
				<li><a id="test" target="_blank" href="${contextPath}/kp-practice.html?kpId=${kpDetail.knowledgePoint.kpId}&courseId=${courseId}">测试中心</a></li>
				<#else>
				<a id="test" href="#">测试中心</a>
				</#if>
				
				<li><a href="#">高级应用</a></li>
				
			</nav>
			<section class="knowledge-point-wraper">
				<header class="knowledge-point-header"><h3>知识点学习</h3></header>
				<div class="list-wraper">
					<div class="knowledge-point-list-wraper">
						<div id="knowledge-point-list">
						<#list chapters as chapter>
							<ul class="knowledge-point-item">
								<h3 title="${chapter.chapterName}"><span class="order" title="${chapter.chapterName}">${chapter_index+1}</span>${chapter.chapterName}</h3>
								<#list chapter.knowledgePoints as kp>
								<#if kpDetail?? && kp.kpId==kpDetail.knowledgePoint.kpId>
								
								<li title="${kp.kpName}" class="mactive"><a style="color: white;" href="course-kp.html?courseId=${courseId}&kpId=${kp.kpId}">${kp.kpName}</a></li>
								<#else>
								<li title="${kp.kpName}"><a style="color: white;" href="course-kp.html?courseId=${courseId}&kpId=${kp.kpId}">${kp.kpName}</a></li>
								</#if>
								</#list>
							</ul>
						</#list>
						</div>								
					</div>						
				</div>
				<li id="arrow-left" class="arrow arrow-left"><</li>
				<li id="arrow-right" class="arrow arrow-right">></li>
				
			</section>
			<div id="kpVideos">
			<section class="learning-part clearfix">
				<section class="video-list fl">
					<h3 class="video-list-title"><i class="fa fa-list"></i>视频列表</h3>
					<ul class="video-items">
					<#if kpDetail?? && kpDetail.videos??>
					<#list kpDetail.videos as video>
						<li class="<#if video_index==0>active</#if> one_tr" src="${video.vedioSrc}"><i class="fa fa-play-circle fa-lg"></i>${video.vedioName}</li>
					</#list>
					<#else>
					<li>暂无视频</li>
					</#if>
					</ul>
				</section>
				<section class="video_ls fr">
	              <h2 align="center" id="videoName"><i class="fa fa-play-circle fa-lg"></i><#if kpDetail?? && kpDetail.videos??>${kpDetail.videos[0].vedioName}<#else>暂无视频</#if></h2>
	              <video id="my-video" class="video-js vjs-big-play-centered" controls preload="auto" width="740" height="530"
						  poster="m.png" data-setup="{}">
				        <source id="source" src="<#if kpDetail?? && kpDetail.videos??>${kpDetail.videos[0].vedioSrc}<#else>${contextPath}/plugin/video/media/240.mp4</#if>" type="video/mp4">
				        <p class="vjs-no-js"></p>
				   </video>
	              
	            </section>
			</section>
			</div>
			<div id="kpAnother">
			<section class="learning-text" id="learning-text">
				<div class="my-tab">
				  <ul class="my-tab-title">
				    <li>学习tips</li>
				    <li>答疑</li>
				    <#if Session.user?exists && Session.user.role=='teacher'> 
				    <li>查看问题</li>
				    </#if>
				  </ul>
				  <div class="my-tab-content clearfix" id="my-tab-content">
				 
				    <div class="my-tab-item">
						<div class="learning-sideBar">
							<div class="learning-source-bar-wraper">
								<h5 class="learning-source-header">学习资源</h5>
								<ul class="learning-source-bar ">
								<#if (kpDetail.normalDatas?size==0)><li><p>暂无资料</p></li></#if>
									<#list kpDetail.normalDatas as data>
									<li><span>${data_index+1}</span><p title="${data.dataName}">${data.dataName}</p><a href="${data.dataSrc}" target="_blank"><i class="fa fa-download"></i></a></li>
									</#list>
								</ul>
							</div>
							<div class="learning-source-bar-wraper">
								<h5 class="learning-source-header">练习资料</h5>
								<ul class="learning-source-bar ">
								<#if (kpDetail.testDatas?size==0)><li><p>暂无资料</p></li></#if>
								<#list kpDetail.testDatas as data>
									<li><span>${data_index+1}</span><p title="${data.dataName}">${data.dataName}</p><a href="${data.dataSrc}" target="_blank"><i class="fa fa-download"></i></a></li>
									</#list>
								</ul>
							</div>
						</div>
						<div class="learning-details">
							<div class="details-tab-wraper">
								<ul class="details-tab" id="details-tab">
									<li >精讲
										<div class="content">
											${kpDetail.knowledgePoint.kpDetail}
										</div>
									</li>
									<li class="active">学习建议
										<div class="content">
											${kpDetail.knowledgePoint.kpAdvice}
										</div>
									</li>
									<li>阅读资料
										<div class="content">
											${kpDetail.knowledgePoint.kpRead}
										</div>
									</li>
								</ul>

							</div>
						</div>
				  	</div>
				  	
				</div>
			</section>
			</div>
	</div>
		<footer class='footer'>
		<p>@copyRight 2017NCTechnology All Right reserved</p>
	</footer>
    <!--bottom-->
          
</div>

	<!-- <script type="text/javascript" src="../script/jquery-1.8.3.min.js"></script> -->
	<script type="text/javascript" src="${contextPath}/script/jquery-3.1.1.min.js"></script>
	<!-- <script type="text/javascript" src="../script/jq"></script> -->
	<script type="text/javascript" src="https://unpkg.com/wangeditor@3.1.0/release/wangEditor.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>
	<script type="text/javascript" src="${contextPath}/script/learning.js"></script>
	<script type="text/javascript" src="${contextPath}/script/lessionHomePage.js"></script>
	<script type="text/javascript" src="${contextPath}/js/video/video.min.js"></script>
	<script type="text/javascript" src="${contextPath}/js/layui/layui.js"></script>
	<script>
	$(document).ready(function() {
		var myPlayer = videojs('my-video');
		videojs("my-video").ready(function(){
			var myPlayer = this;
		});
		$(".one_tr").click(function(){
			$(this).addClass("active").siblings(".one_tr").removeClass("active");
			var vid_src=$(this).attr("src");
			var vid_name = $(this).html();
			$("#videoName").html(vid_name);
			myPlayer.pause();
			myPlayer.src(vid_src);
		})
		$.ajax({
			url:'${contextPath}/kp/${kpDetail.knowledgePoint.kpId}/comments.html',
			type:'get',
			success:function(res){
				$("#my-tab-content").append(res);
			}
		});
	});
	</script>
</body>
</html>